.vscode/
.DS_Store
venv/
.python-version
__pycache__/
.pytest_cache/
.benchmarks/
node_modules/
dist/
.env
*.log
credentials.json
root_url.json
page_token.json


# datasets
rag/tests/test-files/
rag/tests/temp_split_docs


# persistent storage
weaviate_data/
