.vscode/
.DS_Store
venv/
__pycache__/
.pytest_cache/
.benchmarks/
node_modules/
dist/
.env
.log
credentials.json
root_url.json
page_token.json

# datasets
rag/downloads/
rag/txt-dataset
rag/txt-dataset-2
rag/tests/test-files/

# persistent storage
weaviate_data/
