fastapi
uvicorn
pydantic
weaviate-client
unstructured
onnxruntime
langchain
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
sentence-transformers
openai
pytest
python-dotenv
langchain-openai
langchain-huggingface
unstructured-inference
pdfminer-six
pi-heif
pdf2image
markdown
python-docx
unstructured-pytesseract
langchain-community
ragas
tiktoken