fastapi
uvicorn
pydantic
weaviate-client
unstructured
langchain
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
sentence-transformers
transformers
accelerate
openai
dataclasses
pytest
python-dotenv

ragas
langchain_openai
langchain_huggingface

unstructured_inference
pdfminer.six
pi-heif
pdf2image
markdown
python-docx
unstructured_pytesseract